<%- include('./partials/head.ejs')%> <%- include('./partials/nav.ejs')%>
<div class="about-content">
  <h2>About us</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, nulla
    distinctio? Aliquid commodi aut quasi unde repellendus architecto debitis
    eos.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, nulla
    distinctio? Aliquid commodi aut quasi unde repellendus architecto debitis
    eos.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, nulla
    distinctio? Aliquid commodi aut quasi unde repellendus architecto debitis
    eos.
  </p>
</div>
<%- include('./partials/footer.ejs') %>
